 .head {
 	height: 4rem;
 	line-height: 4rem;
 	font-size: 1.4rem;
 	background-color: #1B82D2;
 	color: #fff;
 }
 
 body {
 	background: #f5f5f9;
 }
 
 #box1 {
 	background-color: #fff;
 	margin-top: 1rem;
 }
 
 .nav-item {
 	margin: 5px 0;
 }
 
 .nav-item a {
 	display: block;
 	width: 100%;
 	height: 2rem;
 	line-height: 2rem;
 	font-size: 0.5rem;
 	border-radius: 5px;
 	color: #fff;
 	background: linear-gradient(to bottom, #5DBDFF, #3178F7);
 	margin: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 }
/* 小于640px */		
@media all and (max-width:640px) {
 .nav-item a {
	 height: 3rem;
	 line-height: 3rem;
	 font-size: 1.5rem;
 }
} 
 .selectclass{
  background: #F1F3F4;
}
 
 #box2 {
 	margin-top: 0.5rem;
 }
 
 #box3 {
 	height: 10rem;
 	padding: 5px;
 	margin-top: 0.5rem;
 	background-color: #fff;
 	box-shadow: 0 0 1px rgba(204, 204, 204, 0.7);
 }
 
 #box3 h5 {
 	height: 1.5rem;
 	text-indent: 1rem;
 	font-size: 1rem;
 	border-bottom: 1px solid rgba(204, 204, 204, 0.2);
 	/*box-shadow: 0 1px 0 rgba(204,204,204,0.2);*/
 }
 
 #box3 h5 span {
 	border-left: 4px solid #1B82D2;
 	margin-right: 0.5rem;
 }
 
 #box4 {
 	padding: 0.5rem 2rem;
 	margin-top: 0.5rem;
 	background-color: #fff;
 	box-shadow: 0 0 1px rgba(204, 204, 204, 0.7);
 }
 
 #box4 ul li {
 	height: 100%;
 	overflow: hidden;
 }
 
 #box4 ul li h5 {
 	width: 100%;
 	font-size: 1.2rem;
	padding-bottom:5px;
 	color: #333;
 	display: inline-block;
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 }
 
 #box4 ul li img {
 	width: 100%;
 	height: 100%;
 	margin-top: -10px;
 }
 
 #box4 ul li small {
 	color: #999;
 	font-size: 0.9rem;
 }
 
 .gg {
 	border: 1px solid #ccc;
 	color: #999;
 	font-size: 0.7rem;
 	padding: 2px;
 	margin-right: 1rem;
 }
 
 .media {
 	margin: 0px;
 }
 
 .media-title {
 	font-size: 1.2rem;
 	color: #000;
 }
 
 .media-text {
 	font-size: 1rem;
 	color: #ccc;
 }
 
 .media-object {
 	margin-left: -10px;
 }
 
 .media-style {
 	padding-left: 1rem;
 }
 
 .media-style-left {
 	vertical-align: middle;
 	/*设置该元素在父元素中的位置*/
 }
 
 .title {
 	display: block;
 	font-size: 1rem;
 	color: #000;
 }
 
 section {
 	margin-bottom: 5rem;
 }
 
 .foot-line {}
 
 .foot-line span {
 	display: block;
 	/*设置为块级元素会独占一行形成上下居中的效果*/
 	position: relative;
 	/*定位横线（当横线的父元素）*/
 	font-size: 0.85rem;
 	color: #ccc;
 	/*居中文字的颜色*/
 	text-align: center;
 }
 
 .foot-line span:before,
 .foot-line span:after {
 	content: '';
 	position: absolute;
 	/*定位背景横线的位置*/
 	top: 50%;
 	background: rgba(204, 204, 204, 0.8);
 	/*背景横线颜色*/
 	width: 20%;
 	/*单侧横线的长度*/
 	height: 1px;
 	-webkit-transform: scale(1, 0.5);
 	/*缩进，让线条更细*/
 	transform: scale(1, 0.5);
 }
 
 .foot-line span:before {
 	left: 20%;
 	/*调整背景横线的左右距离*/
 }
 
 .foot-line span:after {
 	right: 20%;
 }
 /*修改框架的样式*/
 
 .sidenav {
 	background: url(../img/bg3.jpg) 0 0 no-repeat;
 }
 
 .sidenav-brand {
 	background: none;
 	border: none;
 	padding: 20px;
 }
 
 .sidenav-link-icon {
 	width: 0;
 }
 
 .sidenav-link-title {
 	padding: 0px;
 }
 
 .sidenav-menu a {
 	padding: 5px 20px;
 }
 
 .myicon {
 	font-size: 16px;
 	margin-right: 10px;
 }