<!DOCTYPE html>
<html>

	<head>
		<title>H5网址导航</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />		
		<meta name="keywords" content="H5网址导航,常用网址导航,响应式导航,网址大全">
		<meta name="description" content="H5网址导航是一款响应式的HTML5导航网站，可以自定义设置常用的网站信息,方便收藏一些比较难记的网站地址。">		
		<link rel="Shortcut Icon" href="/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/sidenav.min.css" />
		<!--引入iconfont.css文件-->
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<!--引入jquery-weui框架-->
		<link rel="stylesheet" href="weui/css/weui.min.css">
		<link rel="stylesheet" href="weui/css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>

	<body>
		<!--侧边栏导航-->
		<header>
			<div class="rows head">
				<div class="col-xs-2 text-left">
					<a href="javascript:;" class="toggle" id="sidenav-toggle">
						<img style="height: 3rem;" src="img/author.png" />
					</a>
				</div>
				<div class="col-xs-8 text-center">
					<span>H5网址导航</span>
				</div>
				<div class="col-xs-2 text-right">
					<a href="javascript:;" class="open-popup" data-target="#bottomb">
						<img style="height: 2.5rem;" src="img/plus.png" />
					</a>
				</div>
			</div>
			<nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
				<div class="sidenav-brand">
					<div class="media">
						<a class="media-left">
							<img class="img-circle" src="img/god-code.jpg" style="height: 50px;" alt="">
						</a>
						<div class="media-body" style="line-height:10px;padding-top: 5px;">
							<h4 class="media-heading" style="font-size: 16px;color: #fff;">神码都是浮云</h4>
							<small style="font-size:12px;">QQ：15577969</small>
						</div>
					</div>
				</div>

				<div class="sidenav-header">
					<small style="font-size: 11px;">世上的事，只要肯用心去学，没有一件是太晚的。</small>
				</div>

				<ul class="sidenav-menu">
					<li>
						<a href="http://zy13.net" class="active">
							<span class="sidenav-link-title"><i class="iconfont myicon">&#xe651;</i>资源驿站</span>
						</a>
						<li>
							<li>
								<a href="https://www.baidu.com/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe652;</i>百度一下</span>
								</a>
							</li>
							<li>
								<a href="https://blog.csdn.net/qq15577969">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe604;</i>csdn博客</span>
								</a>
							</li>
							<li>
								<a href="https://github.com/respost/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe691;</i>github</span>
								</a>
							</li>
							<li>
								<a href="https://www.aliyun.com/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe6b0;</i>阿里云</span>
								</a>
							</li>
							<li>
								<a href="https://cloud.tencent.com/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe67e;</i>腾讯云</span>
								</a>
							</li>
							<li>
								<a href="https://www.iconfont.cn/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe653;</i>iconfont图标</span>
								</a>
							</li>
							<li>
								<a href="https://sg.godaddy.com/zh">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe650;</i>godaddy</span>
								</a>
							</li>
							<li>
								<a href="https://pan.baidu.com/">
									<span class="sidenav-link-title"><i class="iconfont myicon">&#xe69a;</i>百度网盘</span>
								</a>
							</li>
				</ul>
			</nav>
		</header>
		<!--内容-->
		<section id="app">
			<div id="box1">
				<div class="rows text-center">
					<div class="col-xs-6 col-sm-3 nav-item" v-for="(item, index) in navList">
						<a :href="item.url">
							{{item.name}}
						</a>
					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
			<!--轮播图-->
			<div id="box2">
				<!--轮播图-->
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
					<!-- 图片容器 -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="img/1.jpg" alt="..." style="width:100%;height: 10rem;">
							<div class="carousel-caption ">
							</div>
						</div>
						<div class="item">
							<img src="img/2.jpg" alt="..." style="width:100%;height: 10rem;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="img/3.jpg" alt="..." style="width:100%;height: 10rem;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="img/4.jpg" alt="..." style="width:100%;height: 10rem;">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="img/5.jpg" alt="..." style="width:100%;height: 10rem;">
							<div class="carousel-caption">
							</div>
						</div>
					</div>
					<!--圆圈指示符-->
					<ol class="carousel-indicators" style="bottom:-10px;">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<!--索引下标从0开始-->
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
					</ol>
					<!-- 左右控制按钮 -->
					<a class="left  carousel-control" href="#myCarousel" data-slide="prev">
						<img src="img/arrows_l.png" style="height: 5rem;position: absolute;top: 3rem;left: 0;" />
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<img src="img/arrows_r.png" style="height: 5rem;position: absolute;top: 3rem;right: 0;" />
					</a>
				</div>
			</div>
			<div id="box3">
				<h5><span></span>游戏推荐</h5>
				<div class="rows">
					<div class="col-xs-6" style="padding:0;margin: 0;border-right:1px solid rgba(204,204,204,0.3);">
						<div class="media media-style">
							<a class="media-left media-style-left" href="cdx/">
								<h4 class="media-title">猜大小</h4>
								<span class="media-text">大家都在玩哟</span>
							</a>
							<a class="media-right" href="cdx/">
								<img class="media-object" src="img/cdx.png" style="height: 6rem;" alt="">
							</a>
						</div>
					</div>
					<div class="col-xs-6" style="padding:0;margin: 0;">
						<div class="media media-style">
							<a class="media-left media-style-left" href="luck/">
								<h4 class="media-title">幸运大转盘</h4>
								<span class="media-text">试试你的运气吧</span>
							</a>
							<a class="media-right" href="luck/">
								<img class="media-object" src="img/luck.png" style="height: 6rem;" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="box4">
				<ul>
					<li>
						<a href="#">
							<h5 class="text-center">良心传奇，不充钱也是爸爸！充1块就是大爷</h5>
							<img class="img-rounded" src="img/g1.jpg" />
						</a>
						<div style="margin-top:5px;">
							<small><span class="gg">广告</span>传奇1.76</small>
							<button type="button" class="close" id='3' v-on:click="closeAdver($event)" aria-hidden="true"><img src="img/icon_close.png" style="height: 32px;"/></button>
						</div>
					</li>
					<li>
						<a href="#">
							<h5 class="text-center">是兄弟就一起来玩，贪玩传奇。等你来战!</h5>
							<img class="img-rounded" src="img/g2.jpg" />
						</a>
						<div style="margin-top:5px;">
							<small><span class="gg">广告</span>传奇1.85</small>
							<button type="button" class="close" id='3' v-on:click="closeAdver($event)" aria-hidden="true"><img src="img/icon_close.png" style="height: 32px;"/></button>
						</div>
					</li>
					<li>
						<a href="#">
							<h5 class="text-center">大扎好，我系渣渣辉，探挽懒月，介四里没有挽过的船新版本</h5>
							<img class="img-rounded" src="img/g3.jpg" />
						</a>
						<div style="margin-top:5px;">
							<small><span class="gg">广告</span>传奇1.91</small>
							<button type="button" class="close" id='3' v-on:click="closeAdver($event)" aria-hidden="true"><img src="img/icon_close.png" style="height: 32px;"/></button>
						</div>
					</li>
				</ul>
			</div>
			<h2 class="foot-line"><span>我是有底线的</span></h2>

			<div id="bottomb" class="weui-popup__container popup-bottom" style="z-index:99999;">
				<div class="weui-popup__overlay"></div>
				<div class="weui-popup__modal">
					<div class="title-box">
						<a class="title-left" @click="add($event)">添加</a>
						<p class="title-center">添加网址</p>
						<a class="title-right" @click="closepopup($event)">关闭</a>
					</div>
					<div class="weui-cells">
						<div style="display:block;width:100%;max-height:20rem;overflow-y:auto;">
						<table class="VirusTable">						
							<thead>
								<tr>
									<th width="10%">
										<div>编号</div>
									</th>
									<th width="30%">
										<div>名称</div>
									</th>
									<th width="60%">
										<div>网址</div>
									</th>
								</tr>
							</thead>						
							<tbody>
								<tr v-on:click="selectItem(item.id)" v-bind:class="{selectclass:index==selectId}" v-for="(item, index) in navList">
									<td class="text-center">{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>{{item.url}}</td>
								</tr>
							</tbody>						
						</table>
						</div>
					</div>
					<div class="weui-cells weui-cells_form">
						<form action="" @submit.prevent="handleSubmit">
							<div class="weui-cell">
								<div class="weui-cell__hd"><label class="weui-label">名称：</label></div>
								<div class="weui-cell__bd">
									<input class="weui-input" type="text" placeholder="请输入网站名称" v-model="itemName" />
								</div>
							</div>
							<div class="weui-cell">
								<div class="weui-cell__hd"><label class="weui-label">网址：</label></div>
								<div class="weui-cell__bd">
									<input class="weui-input" type="text" placeholder="请输入网址" v-model="itemUrl" />
								</div>
							</div>
							<div class="weui-btn-area" style="margin-bottom: 10px;">
								<input type="submit" class="weui-btn weui-btn_primary" value="添加" v-model="itemSubmit" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
	<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/sidenav.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/storageUtils.js" type="text/javascript" charset="utf-8"></script>
	<!--引入jquery-weui框架-->
	<script src="weui/js/jquery-weui.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			adverShow();
		});
		//侧边栏导航
		$('[data-sidenav]').sidenav();
		//获取随机数   
		function getRandom(x, y) {
			//x 下限 
			//y 上限
			return parseInt(Math.random() * (y - x + 1) + x);
		}
		//随机显示一个广告
		function adverShow(index) {
			var num = getRandom(0, 2); //0-2之间的随机数，包括0和2
			if(index != null && index == num) {
				if(num == 0) {
					num++;
				} else {
					num--;
				}
			}
			var c = $("#box4 ul").children("li").get(num);
			$(c).show();
			$(c).siblings().hide();
		}
	</script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				itemId: '',
				itemName: '',
				itemUrl: '',
				itemSubmit: '添加',
				navList: mystorage.get('navList'),
				selectId:'-1',  
			},
			//用于数据初始化
			created: function() {
				var that = this;
				if(that.navList == undefined || that.navList.length <= 0) {
					that.navList = [{
							"id": 1,
							"name": "tampermonkey脚本",
							"url": "https://greasyfork.org/zh-CN"
						},
						{
							"id": 2,
							"name": "微盾PHP解密",
							"url": "https://yoursunny.com/p/PHP-decode/"
						},
						{
							"id": 3,
							"name": "txt文本生成",
							"url": "http://patorjk.com/software/taag/#p=display&f=Star%20Wars&t=aher"
						},
						{
							"id": 4,
							"name": "Idea注册码",
							"url": "http://idea.medeming.com/jihuoma/",
							"icon": "img/icon-4.png"
						},
						{
							"id": 5,
							"name": "在线文字识别转换",
							"url": "https://ocr.wdku.net/"
						},
						{
							"id": 6,
							"name": "在线代码对比",
							"url": "https://www.matools.com/compare"
						},
						{
							"id": 7,
							"name": "在线格式化JSON",
							"url": "https://www.json.cn/"
						},
						{
							"id": 8,
							"name": "思维导图",
							"url": "https://www.processon.com/"
						},
						{
							"id": 9,
							"name": "视频去水印",
							"url": "http://www.iiilab.com/"
						}
						,
						{
							"id": 10,
							"name": "网页转换助手",
							"url": "http://html22.com/"
						}
					];
				}
			},
			methods: {
				//关闭广告按钮，显示另一个广告
				closeAdver: function(event) {
					//获取点击对象      
					var id = event.currentTarget.id;
					adverShow(id);
				},
				add: function(event) {
					this.itemSubmit = "添加";
					this.itemName = "";
					this.itemUrl = "";
				},
				//选择列表项
				selectItem: function(id) {
					var that = this;
					that.itemSubmit = "修改";				
					for(let i = 0; i < that.navList.length; i++) {
						if(id == that.navList[i].id) {
							that.selectId = i;  
							that.itemId = that.navList[i].id;
							that.itemName = that.navList[i].name;
							that.itemUrl = that.navList[i].url;
							break;
						}
					}
				},
				handleSubmit() {
					var that = this;
					if(that.itemName == '') {
						$.alert("名称不能为空");
						return;
					}
					if(that.itemUrl == '') {
						$.alert("网址不能为空");
						return;
					}
					var item = {
						id: (that.itemSubmit == "修改") ? that.itemId : (that.navList.length + 1),
						name: that.itemName,
						url: that.itemUrl
					}
					if(that.itemSubmit == "修改") {
						//更新数据
						that.navList.splice(that.index, 1, item)
						$.alert("修改成功");
					} else {
						//添加数据
						this.navList.push(item);
						$.alert("添加成功");
					}
				},
				closepopup: function(event) {
					$.closePopup();
				}
			},
			watch: {
				navList: {
					deep: true, //深度监视
					// handler的值应该是一个函数, 且函数应该要有一个形参(接收最新的数据)
					handler: function(val) {
						// 将数据(json)保存到localStorage
						mystorage.set('navList', val)
					}
				}
			},
		});
	</script>

</html>