<!DOCTYPE html>
<html lang="en" style="font-size: 168px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>随机吃大餐 - 幸运大转盘</title>
		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/common_mobile.css">
		<link rel="stylesheet" href="css/index.css">
		<!--引入jquery-weui框架-->
		<link rel="stylesheet" href="weui/css/weui.min.css">
		<link rel="stylesheet" href="weui/css/jquery-weui.min.css">
	</head>

	<body>		
		<div id="app">
			<div id="wrap">
				<p class="time"></p>
				<div class="title"></div>
				<!--星星-->
				<div class="stars-box">
					<span class="stars"></span>
					<span class="stars"></span>
					<span class="stars"></span>
					<span class="stars"></span>
					<span class="stars"></span>
					<span class="stars"></span>
					<span class="stars"></span>
				</div>
				<!--主体-->
				<div class="main">
					<!--
				<p class="rule"></p>
				<a href="#" id="myWin">
					<p class="my"></p>
				</a>
				-->
					<!--游戏区域-->
					<div class="set">
						<a href="javascript:;" class="open-popup" data-target="#bottomb">
							<img src="image/my.png" />
						</a>
					</div>
					<div class="box">
						<p class="set"></p>
						<span class="coin"></span>
						<h2>{{time}}不知道吃什么，随机选一个吧</h2>
						<ul class="light clearfix">
							<li class="fl">
								<p class="blin"></p>
								<p class=""></p>
								<p class="blin"></p>
								<p class=""></p>
							</li>
							<li class="fr">
								<p class=""></p>
								<p class="blin"></p>
								<p class=""></p>
								<p class="blin"></p>
							</li>
						</ul>
						<!--九宫格-->
						<ul class="play clearfix">
							<!--显示前4条数据-->
							<li class="prize" v-for="(item, index) in gameList" v-if='index<4'>
								<div>
									<p>{{item.name}}</p>
									<small>{{item.desc}}</small>
								</div>
							</li>
							<!--开始按钮-->
							<li id="btn"></li>
							<!--显示后4条数据-->
							<li class="prize" v-for="(item, index) in gameList" v-if='index>=4'>
								<div>
									<p>{{item.name}}</p>
									<small>{{item.desc}}</small>
								</div>
							</li>
						</ul>
					</div>
					<!--奖品展示-->

					<div class="awards">
						<div class="adver">
							<ul>
								<li>
									<a href="#">
										<h5 class="text-center">良心传奇，不充钱也是爸爸！充1块就是大爷</h5>
										<img class="img-rounded" src="image/g1.jpg" />
									</a>
									<small><span class="gg">广告</span>传奇1.76</small>
									<img class="close" id='1' v-on:click="close($event)" src="image/icon_close.png" />
								</li>
								<li>
									<a href="#">
										<h5 class="text-center">是兄弟就一起来玩，贪玩传奇。等你来战!</h5>
										<img class="img-rounded" src="image/g2.jpg" />
									</a>
									<small><span class="gg">广告</span>传奇1.85</small>
									<img class="close" id='2' v-on:click="close($event)" src="image/icon_close.png" />
								</li>
								<li>
									<a href="#">
										<h5 class="text-center">大扎好，我系渣渣辉，探挽懒月，介四里没有挽过的船新版本</h5>
										<img class="img-rounded" src="image/g3.jpg" />
									</a>
									<small><span class="gg">广告</span>传奇1.91</small>
									<img class="close" id='3' v-on:click="close($event)" src="image/icon_close.png" />
								</li>
							</ul>
						</div>
						<!--
					<div class="swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<img src="image/drag1.png">
							</li>
							<li class="swiper-slide">
								<img src="image/drag2.png">
							</li>
							<li class="swiper-slide">
								<img src="image/drag3.png">
							</li>
							<li class="swiper-slide">
								<img src="image/drag4.png">
							</li>
							<li class="swiper-slide">
								<img src="image/drag5.png">
							</li>
						</ul>
					</div>
					-->
					</div>

				</div>
				<!--游戏规则弹窗-->
				<div id="mask-rule">
					<div class="box-rule">
						<span class="star"></span>
						<h2>活动规则说明</h2>
						<span id="close-rule"></span>
						<div class="con">
							<div class="text">
								<p>活动规则说明</p>
							</div>
						</div>
					</div>
				</div>
				<!--中奖提示-->
				<div id="mask">
					<div class="blin"></div>
					<div class="caidai"></div>
					<div class="winning">
						<div class="red-head"></div>
						<div class="red-body">
							<p class="info"></p>
						</div>
						<div id="card">
							<div class="win"></div>
						</div>
						<!--<div class="btn"></div>-->
						<span id="close"></span>
					</div>
				</div>
			</div>
			<div id="bottomb" class="weui-popup__container popup-bottom">
				<div class="weui-popup__overlay"></div>
				<div class="weui-popup__modal">
					<div class="title-box">
						<p class="title-left"></p>
						<p class="title-center">选项配置</p>
						<a class="title-right" @click="closepopup($event)">关闭&nbsp;&nbsp;</a>
					</div>
					<div class="weui-cells">
						<table class="VirusTable">
							<thead>
								<tr>
									<th>
										<div>编号</div>
									</th>
									<th>
										<div>名称</div>
									</th>
									<th>
										<div>描述</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr v-on:click="selectItem(item.id)" v-for="(item, index) in gameList">
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>{{item.desc}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="weui-cells weui-cells_form">
						<form action="/xxx" @submit.prevent="handleSubmit">
							<div class="weui-cell">
								<div class="weui-cell__hd"><label class="weui-label">选项：</label></div>
								<div class="weui-cell__bd">
									<input class="weui-input" type="text" placeholder="请输入店名/品牌/选项名称" v-model="itemName" />
								</div>
							</div>
							<div class="weui-cell">
								<div class="weui-cell__hd"><label class="weui-label">备注：</label></div>
								<div class="weui-cell__bd">
									<input class="weui-input" type="text" placeholder="请输入备注信息" v-model="itemDesc" />
								</div>
							</div>
							<div class="weui-btn-area" style="margin-bottom: 10px;">
								<input type="submit" class="weui-btn weui-btn_primary" value="修改" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<span id="musicControl">
				<a id="mc_play" class="on" onclick="play_music();">
					<audio id="music" loop="loop" autoplay="autoplay">
						<source src="image/music.mp3" type="audio/mpeg">
					</audio>
				</a>
			</span>
		</div>		
		<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/storageUtils.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!--引入jquery-weui框架-->
		<script src="weui/js/jquery-weui.min.js" charset="utf-8"></script>
		<!-- 移动端适配 -->
		<script>
			var html = document.querySelector('html');
			changeRem();
			window.addEventListener('resize', changeRem);

			function changeRem() {
				var width = html.getBoundingClientRect().width;
				html.style.fontSize = width / 10 + 'px';
			}
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				adverShow();
			});
			//解决微信不能自动播放背景音乐
			document.addEventListener('DOMContentLoaded', function () {
				function audioAutoPlay() {
					var audio = document.getElementById('music');
						audio.play();
					document.addEventListener("WeixinJSBridgeReady", function () {
						audio.play();
					}, false);
				}
				audioAutoPlay();
			});
			function play_music(){
				if ($('#mc_play').hasClass('on')){
					$('#mc_play audio').get(0).pause();
					$('#mc_play').attr('class','stop');
				}else{
					$('#mc_play audio').get(0).play();
					$('#mc_play').attr('class','on');
				}
				event.stopPropagation(); //阻止冒泡
			}

			//获取随机数   
			function getRandom(x, y) {
				//x 下限 
				//y 上限
				return parseInt(Math.random() * (y - x + 1) + x);
			}
			//随机显示一个广告
			function adverShow(index) {
				var num = getRandom(0, 2); //0-2之间的随机数，包括0和2
				if(index != null && index == num) {
					if(num == 0) {
						num++;
					} else {
						num--;
					}
				}
				var c = $(".adver ul").children("li").get(num);
				$(c).show();
				$(c).siblings().hide();
			}
			//根据时间显示上午或下午、晚上
			function showDate() {
				//获取当前系统时间
				var date = new Date();
				//年
				var year = date.getFullYear();
				//月
				var month = date.getMonth() + 1;
				//日
				var day = date.getDate();
				//时
				var hour = date.getHours();
				//分
				var minute = date.getMinutes();
				//秒
				var second = date.getSeconds();
				//星期
				var week = date.getDay();
				//上午,中午,下午,晚上
				var ap = "";
				if(hour >= 6 && hour < 12) {
					ap = "早上";
				} else if(hour >= 12 && hour <= 13) {
					ap = "中午";
				} else if(hour > 13 && hour < 18) {
					ap = "下午";
				} else if(hour >= 18 && hour < 24) {
					ap = "晚上";
				}
				return ap;
			}
		</script>
		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					gameList: mystorage.get('gameList'),
					time: showDate(),
					index: '',
					itemId: '',
					itemName: '',
					itemDesc: '',
					bool: true, //判断是否可点击,true为可点击
				},
				//用于数据初始化
				created: function() {
					var that = this;
					if(that.gameList == undefined || that.gameList.length <= 0) {
						that.gameList = [{
								"id": 1,
								"name": "天涯海角",
								"desc": "音乐休闲吧"
							},
							{
								"id": 2,
								"name": "烤鱼大王",
								"desc": "好吃到不行"
							},
							{
								"id": 3,
								"name": "友趣",
								"desc": "麻辣小龙虾"
							},
							{
								"id": 4,
								"name": "烧烤",
								"desc": "青岛扎啤"
							},
							{
								"id": 5,
								"name": "海鲜粥",
								"desc": "夜宵小点"
							},
							{
								"id": 6,
								"name": "鸭脚田螺煲",
								"desc": ""
							},
							{
								"id": 7,
								"name": "牛排自助餐",
								"desc": "皇室经典"
							},
							{
								"id": 8,
								"name": "德克士",
								"desc": "汉堡可乐"
							}
						];
					}
				},
				methods: {
					//关闭广告按钮，显示另一个广告
					close: function(event) {
						//获取点击对象      
						var id = event.currentTarget.id;
						adverShow(id);
					},
					//选择列表项
					selectItem: function(id) {
						var that = this;
						for(let i = 0; i < that.gameList.length; i++) {
							if(id == that.gameList[i].id) {
								that.index = i;
								that.itemId = that.gameList[i].id;
								that.itemName = that.gameList[i].name;
								that.itemDesc = that.gameList[i].desc;
								break;
							}
						}
					},
					handleSubmit() {
						if(this.itemName == '') {
							$.alert("选项名称不能为空");
							return;
						}
						var item = {
							id: this.itemId,
							name: this.itemName,
							desc: this.itemDesc
						}
						//更新数据
						this.gameList.splice(this.index, 1, item)
						$.alert("修改成功");
					},
					closepopup: function(event) {
						$.closePopup();
					}
				},
				watch: {
					gameList: {
						deep: true, //深度监视
						// handler的值应该是一个函数, 且函数应该要有一个形参(接收最新的数据)
						handler: function(val) {
							// 将数据(json)保存到localStorage
							mystorage.set('gameList', val)
						}
					}
				},
			});
		</script>
	</body>

</html>